@page "/Aktiviteter"
@model ByGuide.Pages.Activities.GetAllActivitiesModel
@{
}

<div id="page-activities">
    <div class="row g-3">
        <h1 class="text-center">Aktiviteter</h1>
    </div>
</div>