
@* By: Jesper Højlund *@

@page "{id:int}"
@model ByGuide.Pages.Experiences.DeleteExperienceModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Bekræft sletning</h1>

<div class="alert alert-danger">
    <h5>Er du sikker på at du vil slette Oplevelsen - @Model.Experience.Title</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Ja</button>
        <a class="btn btn-primary" asp-page="/Experience/GetAllExperiences">Nej</a>
    </form>
</div>