@page
@model ByGuide.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}


<div class="container">
    <div class="row">
        <h3>Velkommen Admin...</h3>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <a asp-area="" asp-page="/Posts/AdminEditPost">Opret/Rediger/Slet - Aktiviteter</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="" asp-page="/Experiences/AdminEditExperiences">Opret/Rediger/Slet - Oplevelser</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="" asp-page="/Events/AdminEditEvents">Opret/Rediger/Slet - Events</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="" asp-page="/Turist/GetAllTurists">Get all turists</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="" asp-page="/Turist/CreateTurist">Create turist</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="" asp-page="/Turist/EditTurist">Edit turist</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="" asp-page="/Turist/DeleteTurist">Delete turist</a>
                </li>
            </ul>
        </div>
    </div>
</div>