@page
@model ByGuide.Pages.Admin.IndexModel
@{
}


<div class="container">
    <div class="row">
        <div class="col">
            <h3>Hej, Admin...</h3>
        </div>
    </div>
    <div class="my-4"></div>
    <div class="row">
        <div class="col-6">
            <h3>Opret opslag</h3>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Titel</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Beskrivelse</label>
                    <textarea class="form-control" id="exampleInputPassword1" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Opret</button>
            </form>
        </div>

        <div class="col-6">
            <h3>Opret Event</h3>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Titel</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Beskrivelse</label>
                    <textarea class="form-control" id="exampleInputPassword1" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Opret</button>
            </form>
        </div>

        <div class="col-6">
            <h3>Opret Oplevelse</h3>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Titel</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Beskrivelse</label>
                    <textarea class="form-control" id="exampleInputPassword1" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Opret</button>
            </form>
        </div>

        <div class="col-6">
            <h3>Opret bruger</h3>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">For- og efternavn</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Adgangskode</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleSelectInput1" class="form-label">Brugeradgang</label>
                    <select class="form-select" id="exampleSelectInput1" aria-label="Default select example">
                        <option selected disabled>Vælg mulighed</option>
                        <option value="1">Standard</option>
                        <option value="2">Redaktør</option>
                        <option value="3">Adminstrator</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleSelectInput1" class="form-label">Virksomhed</label>
                    <select class="form-select" id="exampleSelectInput1" aria-label="Default select example">
                        <option selected disabled>Vælg mulighed</option>
                        <option value="1">Roskilde Kommune</option>
                        <option value="2">Vikingeskibsmuseet</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Opret</button>
            </form>
        </div>

        <div class="col-6">
            <h3>Opret virksomhed</h3>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Navn</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Telefonnummer</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleSelectInput1" class="form-label">Adresse</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleSelectInput1" class="form-label">Hjemmeside</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Opret</button>
            </form>
        </div>
    </div>
</div>