@page
@model ByGuide.Pages.Events.GetEventsModel
@{
}

<div id="page-events">
    <div class="row g-3">
        <h1 class="text-center">Events</h1>
        <div class="col-12">
            <form method="get">
             
                <div class="input-group mb-3">
                    <input autofocus asp-for="EventName" class="form-control mr-1" placeholder="Enter event name" />
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a href="./Events" class="btn btn-secondary">Reset</a>
                </div>
            </form>
        </div>
    </div>
</div>