@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;900&display=swap');

:root {
    --primary-color: #145074;
}

html {
  font-size: 14px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.nav-link {
    font-family: 'Inter', sans-serif;
    color: var(--primary-color) !important;
    font-weight: 500;
}

.nav-item {
    position: relative!important;
}

.nav-item:before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
}

 .nav-item:has(> .active-link):before {
     opacity: 1;
 }

.nav-item:has(a:not(.active-link)):before {
    opacity: 0;
    transition: .33s ease-in-out;
}

.nav-item:has(a:not(.active-link)):hover:before {
    opacity: 1;
}

.footer {
    background-color: #2F799E;
}

.footer a.btn {
    font-weight: bold;
    color: #F5F5F5; 
    background-color: #25668e; 
    border-color: #25668e;
    transition: all .3s ease-in-out;
}

.footer a.btn:hover {
    background-color: #145074;
    border-color: #145074;
}

.content-card {
    transition: box-shadow .3s ease-in-out;
}

.content-card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.form-control:focus {
    border-color: #25668e;
    box-shadow: 0 0 0 0.2rem #25668e43;
}

input[type="submit"] {
    color: #F9F9F9;
    background-color: #25668e;
}

input[type="submit"]:hover {
    background-color: #145074;
}

/* Index start */
#page-index > .carousel, #page-index > .carousel .carousel-inner {
    max-height: 500px;
    border-radius: 5px;
}

#page-index > #popular-activities > div > div a:hover {
    color: #F5F5F5!important;
    background-color: #2F799E;
}

#page-index > #categories {
    position: relative;
    min-height: 400px;
    border-radius: 5px;
}

#page-index > #categories:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50%);
    height: 100%;
    background-color: #4F7E9A;
    width: 100vw;
}

#page-index > #categories a.cat-card {
    height: 250px;
    background-color: white;
    transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
}

#page-index > #categories a.cat-card:hover {
    opacity: 0.9;
    background-color: #F5F5F5;
}

#page-index > #categories a.cat-card h3 {
    color: #145074;
}

#page-index > #categories a.cat-card > img {
    width: 100%;
    height: 70%;
}

#page-index > #experiences a.card {
    transition: opacity .3s ease-in-out;
}

#page-index > #experiences a.card:hover {
    opacity: 0.7;
}

#page-index > #experiences > div:last-child > div > a.btn:hover {
    background-color: #145074!important;
}

/* Index end */