@page
@model ByGuide.Pages.Tursit.EditTuristModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="Turist.Id" class="control-label"></label>
        <input asp-for="Turist.Id" class="form-control" />
        <span asp-validation-for="Turist.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Turist.Name" class="control-label"></label>
        <input asp-for="Turist.Name" class="form-control" />
        <span asp-validation-for="Turist.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Turist.Email" class="control-label"></label>
        <input asp-for="Turist.Email" class="form-control" />
        <span asp-validation-for="Turist.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Turist.Address" class="control-label"></label>
        <input asp-for="Turist.Address" class="form-control" />
        <span asp-validation-for="Turist.Address" class="text-danger"></span>
    </div>
    <p>
        <div class="form-group">
            <input type="submit" value="Opret" class="btn btn-primary" />
        </div>
    </p>
</form>