@page
@model ByGuide.Pages.HistoryModel
@{
}

<div id="page-history">
    <h1 class="text-center">Historie</h1>
    <div class="row">
        <div class="col-4">
            <a class="content-card text-decoration-none border-0" asp-area="" asp-page="">
                <img src="https://source.unsplash.com/random/200x200/?Roskilde+Domkirke+Denmark&1" height="150"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 style="color: #2F799E;">Title</h5>
                    <p style="color: #81BBD2;">Description</p>
                </div>
                <div class="card-footer">
                    <p class="mb-0 text-black"><i class="fa-solid fa-coins"></i> Gratis</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a class="content-card text-decoration-none border-0" asp-area="" asp-page="">
                <img src="https://source.unsplash.com/random/200x200/?Roskilde+Domkirke+Denmark&1" height="150"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 style="color: #2F799E;">Title</h5>
                    <p style="color: #81BBD2;">Description</p>
                </div>
                <div class="card-footer">
                    <p class="mb-0 text-black"><i class="fa-solid fa-coins"></i> Gratis</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a class="content-card text-decoration-none border-0" asp-area="" asp-page="">
                <img src="https://source.unsplash.com/random/200x200/?Roskilde+Domkirke+Denmark&1" height="150"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 style="color: #2F799E;">Title</h5>
                    <p style="color: #81BBD2;">Description</p>
                </div>
                <div class="card-footer">
                    <p class="mb-0 text-black"><i class="fa-solid fa-coins"></i> Gratis</p>
                </div>
            </a>
        </div>
    </div>
</div>