@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Roskilde ByGuide</h1>
    <p>Vi kommer snart med en spændende ny side</p>
</div>
