@page "/Historie"
@model ByGuide.Pages.History.GetAllPostsModel
@{
    ViewData["Title"] = "Historie";
}

<div id="page-history">
    <div class="row g-3">
        <h1 class="text-center">Historie</h1>
        <div class="col-12 text-center">
            <h5>Der er ingen indhold!</h5>
        </div>
    </div>
</div>